OPENAI_API_KEY=""
USER_AGENT=myagent
PG_DB_NAME=postgres
PG_USER=postgres
PG_PASSWORD=HMN030429
PG_HOST=localhost
PG_PORT=5432
PG_DB_URL="postgresql://postgres:HMN030429@localhost:5432/postgres"
GEMINI_API_KEY=""
AUTHORIZE_URL="https://accounts.google.com/o/oauth2/auth"
TOKEN_URL="https://oauth2.googleapis.com/token"
CLIENT_ID="niuhaimeng@gmail.com"
CLIENT_SECRET=""
REDIRECT_URI="http://localhost:8501"
MILVUS_HOST=localhost
MILVUS_PORT=19530
